[2019-06-11 10:32] Mijago opened #2 "Bad Payload when the Lavalink node has more than 2gb reservable memory"
Hello,

I just tried out this library and just got this tiny error. It does not affect my usage of this nice library, but I thought you might want to know:

[code]

https://github.com/angelobreuer/Lavalink4NET/blob/440d453e018dad69fa8b31cedb932562817681ae/src/Lavalink4NET/Statistics/MemoryStatistics.cs#L58-L59
I think the problem is that the code allocates an int32 (signed, so the max value is 214

[2019-06-11 10:52] angelobreuer commented on #2
f2030fe349afb1f7951212bf15557a9247b51474 Thanks for reporting. Hope, no one does have 16384 Pebibytes of RAM 😊

[2019-06-11 10:52] #2 closed

[2019-06-19 17:04] gam-dgb opened #5 "Getting the lyrics for a song"
Hello, I have the question, if it would be possible to put in, that you can retrieve the lyrics of a song using a method? I would need this feature for my Discord Bot.

I already have looked around for some API services and the best (free of course) I found is https://github.com/NTag/lyrics.ovh / https://lyrics.ovh.

[2019-06-19 17:10] angelobreuer commented on #5
Nice idea! 👍 I've set that on the list for plans for next release version 1.2.0.

[2019-06-19 18:25] angelobreuer commented on #5
Implementation complete. 🎉 The feature will be available in the next release version (1.2.0). If there are any further issues, please open a new issue.

[2019-06-19 18:25] #5 closed

[2019-06-20 09:58] Mijago opened #6 "Inactivity Tracking Service requires Lavalink4NET logger (though it should be optional)"
**Describe the bug**
Inactivity Tracking Service requires Lavalink4NET logger (though it should be optional).
I registered the following code:
[code]
And later used:
[code]

Then I get this nice error message:
[code]

**To Reproduce**
- Use an InactivityTrackingService without registering an Lavalink4NET.ILogger.

**Expected behavior**
It should run without requiring a logger.

**(please complete

[2019-06-20 10:03] Mijago commented on #6
This gives me another question:
I add my ILogger to my provider by using `.AddLogging(builder => builder.AddConsole())` (for testing etc.).

Then I register Lavalink-related stuff using:
[code]
So my question is: How do I get the logger to the LavalinkNode instance when using DI?

Offtopic:
By the way, good work on this library! I enjoy working with it.

[2019-06-20 10:08] angelobreuer commented on #6
The problem is with Dependency Injection, for example when creating the instance of InactivityTrackingService using its constructor the issue is solved, I added to the 1.3.0-release milestone adding service provider constructors (or constructors without the optional parameters) for use with dependency injection.

As a "work-around" you could use the constructor of the InactivityTrackingService to

[2019-06-20 10:10] angelobreuer commented on #6
The ILogger-interface used by Lavalink4NET is not from Microsoft.Extensions.Logging(.Abstractions) anymore (since version 1.2.0, to remove the dependency).

See: https://github.com/angelobreuer/Lavalink4NET/blob/master/samples/Lavalink4NET.Discord_NET.ExampleBot/CustomLogger.cs for an example implementation of the interface. (It must be also added to the dependency injection service provider)

[2019-06-20 22:59] angelobreuer commented on #6
Hope the issue is fixed now with #8, release version 1.3.0 is now available (also on NuGet).

[2019-06-20 23:00] #6 closed

[2019-06-29 16:23] Angshu1 opened #9 "Could Not Install Package"
so yeah i couldn't install tried everything.... maybe
any help would be appreciated

[2019-06-29 16:40] angelobreuer commented on #9
Hello, I would like to have more information about your problem.

What prevents you from installing the package? Are you using the NuGet-Package or using the DLL-File in the releases section? Is there any error message?

[2019-06-29 16:48] Angshu1 commented on #9
Ah Nevermind i fixed it but in other way.....

[2019-06-29 16:50] angelobreuer commented on #9
Okay .. If you have any further problems (with the library), please open another issue.

[2019-06-29 16:50] #9 closed

[2019-07-08 12:16] Niewiarowski opened #10 "TimeSpanConverter throws OverflowException."
https://github.com/angelobreuer/Lavalink4NET/blob/master/src/Lavalink4NET/Util/TimeSpanConverter.cs#L24

Throws an OverflowException when you try to search for some streams.
Searching for https://listen.moe/stream will cause this to happen.

[2019-07-08 17:07] angelobreuer commented on #10
https://github.com/angelobreuer/Lavalink4NET/commit/7115c3bbc4ff38ecb9360c11975143c66eeb5d41 I hope the issue is fixed now .. thanks for reporting 😊

[2019-07-08 18:04] #10 closed

[2019-09-06 22:38] FenikkusuNeko opened #14 "TryDequeue takes the last element of the list"
Why TryDequeue takes the last element of the tracks list when Dequeue takes the first one?

[2019-09-07 08:28] #14 closed

[2019-09-07 08:30] angelobreuer commented on #14
Thanks ☺️ This was unexpected behavior and is fixed now (v1.4.4, #15)

[2019-09-07 19:51] FenikkusuNeko opened #16 "Set the player State to NotPlaying when a track ends"
Set the player State to NotPlaying when a track ends.
In this case it's easier to check when to pause, to play or to add to queue a new track while the player is currently playing.

[2019-09-07 21:05] FenikkusuNeko commented on #16
Actually, I now see that this is not possible at all because the track events are async tasks instead of event methods.
So, on overriding the track end event, if the player state is set on this event, the base method have to be called.

[2019-09-07 21:07] FenikkusuNeko commented on #16
You should use events instead of tasks. Invoke them and we can assign them to our event tasks.

[2019-09-07 21:12] angelobreuer commented on #16
There is a track end event in the node implementation: https://github.com/angelobreuer/Lavalink4NET/blob/master/src/Lavalink4NET/LavalinkNode.cs#L90

[2019-09-07 21:16] FenikkusuNeko commented on #16
I see.
Now either I use the events in the service and control the player for that event is
or, wouldn't be nice to have events in the player as well?

[2019-09-07 21:19] angelobreuer commented on #16
Would the above commit resolve the problem?

[2019-09-07 21:21] FenikkusuNeko commented on #16
Yes, I wanted to set the State but has a private setter.
Now, I just have to take care and call the base method then to do the other things.

[2019-09-07 21:24] angelobreuer commented on #16
Which base method do you mean?

[2019-09-07 21:25] FenikkusuNeko commented on #16
When overriding the TrackEndEvent from the Player class.

[2019-09-07 21:30] angelobreuer commented on #16
Are you overriding the QueuedLavalinkPlayer or the LavalinkPlayer class, because the LavalinkPlayer class simply sets the state to NotPlaying (in f58c9905eeaf199cf7067d706593b02e17de2f9b, assuming disconnect on stop is disabled). So you just need to call the base method and then the state will be set to NotPlaying.

[2019-09-07 21:32] FenikkusuNeko commented on #16
Sorry for confusion.
Yes, if I want to override the track end event from LavalinkPlayer class I have to call the base in order for the State to be set to NotPlaying.

[2019-09-07 21:40] angelobreuer commented on #16
I assume your code looks like the following:

[code]

The patch f58c990 should solve the problem because it simply sets the state to `NotPlaying`.
But I have not found any method in `LavalinkPlayer` that explicitly requires the `NotPlaying` state.

[2019-09-07 21:42] FenikkusuNeko commented on #16
Well, for example:
- when I pause, I first check if anything is playing, then check if the player is paused
- when I resume, the same thing
- but, when I add a new track, with NotPlaying I can make the player to play the track immediately or to add the track in the queue.

[2019-09-07 21:47] angelobreuer commented on #16
The QueuedLavalinkPlayer also checks for the NotPlaying state and then decides whether to player the track immediately or to add the track in the queue (https://github.com/angelobreuer/Lavalink4NET/blob/f58c9905eeaf199cf7067d706593b02e17de2f9b/src/Lavalink4NET/Player/QueuedLavalinkPlayer.cs#L124-L144)

[2019-09-07 21:49] FenikkusuNeko commented on #16
Ok, but how should that work when the NotPlaying state is set **only** when the player gets connected.
That's why I opened this issue, I checked if the NotPlaying state is set when the track ends.

[2019-09-07 21:57] angelobreuer commented on #16
I have to admit, I'm just wondering why that works .. I will debug that through, but then f58c9905eeaf199cf7067d706593b02e17de2f9b should solve the problem.

[2019-09-07 22:12] angelobreuer commented on #16
Yep, the QueuedLavalinkPlayer disconnects when the queue is empty (assuming disconnect on stop is enabled), the problem did not come up, because the stop sets the actual player state to NotConnected. (see: [LavalinkPlayer.cs@L166](https://github.com/angelobreuer/Lavalink4NET/blob/f58c9905eeaf199cf7067d706593b02e17de2f9b/src/Lavalink4NET/Player/LavalinkPlayer.cs#L166)). So f58c990 solves your issue

[2019-09-07 23:06] FenikkusuNeko commented on #16
Will you apply the patch and push to NuGet?

[2019-09-07 23:27] angelobreuer commented on #16
Build is building / deploying: [AppVeyor CI Build - 27256577](https://ci.appveyor.com/project/angelobreuer/lavalink4net/builds/27256577)
😊 Hope the issue is fixed now — thanks for reporting!

[2019-09-07 23:58] #16 closed

[2019-09-24 09:32] FenikkusuNeko opened #18 "Add DisposeOnDisconnect"
Add a DisposeOnDisconnect bool in LavalinkNodeOptions (or another name).
Reason: As I can see if someone disconnects the bot through Discord (by having the permission) the player gets disposed and removed from the players dictionary.
But, I already made my own method to check if the bot was disconnected forcefully, so I can send a message in the music output channel. I can dispose the player then

[2019-09-24 13:35] angelobreuer commented on #18
Okay, I've implemented the "PlayerDisconnected" and "PlayerConnected" which both hold the channel identifier connected to/disconnected from. The "PlayerDisconnected" also holds a cause which indicates the reason why the player disconnected (see possible causes: [PlayerDisconnectCause.cs](https://github.com/angelobreuer/Lavalink4NET/blob/f4de3f61a1906bef889f9f7385887b9cda1f3e14/src/Lavalink4NET/Eve

[2019-09-24 14:32] FenikkusuNeko commented on #18
Awesome, I can't wait to try it.

[2019-09-24 14:40] angelobreuer commented on #18
👌 Package (v1.4.6) is publishing 😊 Thanks!

PR: #19

[2019-09-24 19:29] #18 closed

[2020-03-08 16:20] turulix opened #20 "Docs not showing when using nuget"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I have to go on a github page to check docs.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Include the documentation on nuget

**Describe alternatives you've considered**
A clear and conci

[2020-03-09 21:14] #20 closed

[2020-03-11 17:43] turulix opened #22 "Nodes stop trying to reconnect after reconnecting once"
**Describe the bug**
A node stops trying to reconnect when it already reconnected once

**To Reproduce**
Steps to reproduce the behavior:
1. Start Lavalink
2. Connect to it using Lavalink4Net
3. Stop Lavalink
4. Start Lavalink
5. Stop Lavalink
6. Start Lavalink
7. See error

**Expected behavior**
A node should try to reconnect till it gets canceled via a event.

**Screenshots**
If applicable, add

[2020-03-11 22:08] angelobreuer commented on #22
Thanks for your report:

As you stated above I changed the `return` to a `break`; now the receive cycle continues after a reconnect:
https://github.com/angelobreuer/Lavalink4NET/blob/f216647f768426121a068b4605b83a61d86181a3/src/Lavalink4NET/LavalinkSocket.cs#L518-L522

(https://github.com/angelobreuer/Lavalink4NET/commit/f216647f768426121a068b4605b83a61d86181a3; [angelobreuer-patch-1](https://gith

[2020-03-11 22:08] #22 closed

[2020-03-18 16:35] SKProCH opened #24 "OnTrackEndAsync not fired after reconnect to node"
**Describe the bug**
OnTrackEndAsync not fired after reconnect to node

**To Reproduce**
Steps to reproduce the behavior:
1. Start bot
2. Wait for connecting to lavalink
3. Shutdown lavalink server
4. Start lavalink server
5. Wait for connecting to lavalink

**Expected behavior**
I expected that after re-joining everything would work as intended.

 - Lavalink4NET Version 1.4.6

**Additional contex

[2020-03-18 17:20] angelobreuer commented on #24
Hello @SKProCH, thanks for your report!

There was a related issue in the Receive Loop after reconnecting to the Lavalink Node, see [#22 Nodes stop trying to reconnect after reconnecting once](https://github.com/angelobreuer/Lavalink4NET/issues/22), which was fixed in Lavalink4NET Version 1.4.8 ([NuGet](https://www.nuget.org/packages/Lavalink4NET/1.4.8)).

Does Lavalink4NET Version 1.4.8 solve you

[2020-03-18 17:39] SKProCH commented on #24
Yes, I updated the library, and it seems like everything works. I apologize for this issue.

But there is one more problem: sometimes after a node disconnects, it does not try to connect back to it. Should I make a separate issue for this?

[2020-03-18 17:41] angelobreuer commented on #24
Good to know, thanks!

Yes, please. I would appreciate it. Thanks.

[2020-03-18 17:41] #24 closed

[2020-03-18 17:53] SKProCH opened #25 "After disconnecting a node, it does not try to connect to it back sometimes"
**Describe the bug**
Sometimes after a node disconnects, it does not try to connect back to it.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch bot, connect to lavalink
2. While somebody uses lavalink in your bot, turn off the lavalink server

**Expected behavior**
I think that even if a node is disconnected while it is playing something, it is necessary to try to connect to it

 - La

[2020-03-18 18:39] angelobreuer commented on #25
Hello @SKProCH,
I tested the Stay-Online feature and it works as expected (see [Stay-Online](https://github.com/angelobreuer/Lavalink4NET/wiki/Stay-Online) documentation).

I just added some improvements, e.g. tracks continue at the position they stopped, fixed logic error, etc. (https://github.com/angelobreuer/Lavalink4NET/commit/91b42664128a6e9a3fe1fe5f85db4debbb27c711)

The stay-online feature

[2020-03-19 18:54] SKProCH commented on #25
Yes, this fix my problem. But I also propose to improve the player a bit: Add an virtual method to the player that will be called when the player was dropped:
https://github.com/angelobreuer/Lavalink4NET/blob/91b42664128a6e9a3fe1fe5f85db4debbb27c711/src/Lavalink4NET/Cluster/LavalinkCluster.cs#L456-L457

[2020-03-19 19:12] angelobreuer commented on #25
I've added a PlayerMoved event in LavalinkCluster which can be used to track dropped players:
https://github.com/angelobreuer/Lavalink4NET/blob/9ac591393218631182143ad1030eaf1674397720/src/Lavalink4NET/Cluster/LavalinkCluster.cs#L98-L101

If a player was dropped, the PlayerMovedEventArgs#TargetNode property is set to null and you can handle the dropped player.

Implementation for the event:
https:

[2020-03-19 19:22] SKProCH commented on #25
Thanks. How soon will you be able to release a new version with these changes?

[2020-03-19 19:34] angelobreuer commented on #25
I will start publishing the release now, it may take some time for validation, etc.
See CI status: https://ci.appveyor.com/project/angelobreuer/lavalink4net/builds/31585946

Thanks!

[2020-03-19 19:34] #25 closed

[2020-03-24 12:21] SKProCH opened #27 "PlayerState.NotPlaying after server region change"
**Describe the bug**
The player state is reset to NotPlaying after the region at the server changes even if music was playing before

**To Reproduce**
Steps to reproduce the behavior:
1. Start bot
2. Start listening music
3. Change server region / wait for voice server auto change
4. See error

**Expected behavior**
I think State should not change

 - Lavalink4NET v1.4.10

**Additional context**
I

[2020-03-24 13:40] angelobreuer commented on #27
Hello @SKProCH,

does the commit (https://github.com/angelobreuer/Lavalink4NET/commit/50d19393dfef3c410e82a09813297d5826dd98fc) fix your issue?

I corrected the statement: https://github.com/angelobreuer/Lavalink4NET/blob/50d19393dfef3c410e82a09813297d5826dd98fc/src/Lavalink4NET/Player/LavalinkPlayer.cs#L526-L529

Thanks in advance!

[2020-03-24 14:56] SKProCH commented on #27
Yes, thanks

[2020-03-24 14:56] #27 closed

[2020-04-06 05:41] SKProCH opened #28 "Processing bot moves through channels"
After the server administrator forces the bot to another voice channel, the bot is disconnected after some amount of time due to the inactivity tracker.

However, `VoiceChannelId` has a private setter and can only be changed using `ConnectAsync`. However, after calls to this method `State` is automatically set to `NotPlaying`, why is this done?

Maybe I'm doing something wrong or missing something

[2020-04-06 09:19] angelobreuer commented on #28
Hello @SKProCH,
thanks for your report!

In commit https://github.com/angelobreuer/Lavalink4NET/commit/7d519ec237d60273cb54842e1449c6873483365d I've added a check to ensure that the player state is only set to `PlayerState.NotPlaying` when the player is connected initially to the voice channel:
https://github.com/angelobreuer/Lavalink4NET/blob/7d519ec237d60273cb54842e1449c6873483365d/src/Lavalink4

[2020-04-06 09:55] SKProCH commented on #28
Yes, that solves my issue. When will this appear in the release?

[2020-04-06 10:14] #28 closed

[2020-04-06 10:15] angelobreuer commented on #28
I am publishing the fix on NuGet and GitHub Tags now.

Thanks!

[2020-04-09 12:43] NenoxAG opened #30 "When restarting the bot and leaving Lavalink running it wont reconnect to the old player"
**Describe the bug**
When you try to leave Lavalink running (with a player running) and restart the bot, it won't reconnect to the player that is running rather create a new one. So the old player which is running cant be controlled anymore until it has a timeout.

**To Reproduce**
Steps to reproduce the behavior:
1. Start Lavalink
2. Start bot
3. Start music playback via Lavalink4NET
4. Stop bot

[2020-04-09 15:37] angelobreuer commented on #30
Hello @NenoxAG,
thanks for your report!

If I understand you correctly, you want Lavalink4NET to resume players when you restart your bot infrastructure?

The Lavalink node does not inform the client about which players were playing before the connection aborted when reconnecting.

To resume the players when restarting the bot, we have to save or retrieve the information about what players were ru

[2020-04-09 16:03] NenoxAG commented on #30
Hey @angelobreuer,

yes you have understood me correctly. What I want is to be able to get the ResumeKey when a player starts and use the key when the bot restarted so it can resume to the connection and the audio controls like play, volume, ... work again.

Like mentioned here: https://github.com/Frederikam/Lavalink/blob/master/IMPLEMENTATION.md#resuming-lavalink-sessions

Thanks in advance!

[2020-04-09 16:09] angelobreuer commented on #30
Hey @NenoxAG,

would it solve your issue, if we expose the `_resumeKey` field (see: [LavalinkSocket.cs#L58](https://github.com/angelobreuer/Lavalink4NET/blob/5ecdbc3916c23f0382f9eacc2ea53207604f41e5/src/Lavalink4NET/LavalinkSocket.cs#L58)) to a public-setter property?, e.g.:

[code]

Thanks in advance!

[2020-04-10 10:45] NenoxAG commented on #30
Yes that would solve the issue, thanks!

[2020-04-10 10:45] #30 closed

[2020-04-10 10:59] NenoxAG opened #32 "Missing implementation/definition of the `TrackStart` event"
**Is your feature request related to a problem? Please describe.**
I won't be able to get my bot to run with a cluster of Lavalink Nodes. There always is an error in the Lavalink console. With a single Lavalink node everything works as expected.

**Describe the solution you'd like**
A better wiki entry that deals more with the cluster, how to use a cluster and how to start players from a cluser, .

[2020-04-10 11:29] angelobreuer commented on #32
Hey @NenoxAG,
thanks for your report!

both [LavalinkNode](https://github.com/angelobreuer/Lavalink4NET/blob/b3d4ee13d4acd756c460a8ca6cadf2daa1368e18/src/Lavalink4NET/LavalinkNode.cs) and [LavalinkCluster](https://github.com/angelobreuer/Lavalink4NET/blob/b3d4ee13d4acd756c460a8ca6cadf2daa1368e18/src/Lavalink4NET/Cluster/LavalinkCluster.cs) implement the [IAudioService](https://github.com/angelobre

[2020-04-10 17:51] NenoxAG commented on #32
Hello,

yes i'm using the latest version of Lavalink4NET (1.4.12) and Lavalink (3.3.1).

Here is the Lavalink4NET log:
[code]
Thanks in advance!

[2020-04-10 17:57] angelobreuer commented on #32
I identified the problem and I'm currently working on a fix and the implementation of the TrackStart event.
Thanks for your report!

[2020-04-10 18:13] angelobreuer commented on #32
I implemented the `TrackStart` event in the following commit: [c3ecd31](https://github.com/angelobreuer/Lavalink4NET/commit/c3ecd31bf711aed2e930e329697a71283f06e76a).

I will publish the release (1.4.13) on NuGet and GitHub Tags.

You can try out the built artifacts (https://ci.appveyor.com/project/angelobreuer/lavalink4net/builds/32098918/artifacts) from the CI server.

[2020-04-10 18:57] #32 closed

[2020-04-17 05:50] SKProCH opened #34 "[Question] Player initialization"
I have a child class of the player that inherits from `LavalinkPlayer`.
Previously, the constructor passed `GuildId`, which was used in my player constructor to load guild information from the database. Now that the factory is being used, the constructor should be empty, but how do I know `GuildId` then?
When and how should I load guild information now?

[2020-04-17 06:48] angelobreuer commented on #34
Hello @SKProCH,
thanks for your question.

[code]

You can use the player factory to pass constructor parameters to your player implementation.
But there should be a better way to accomplish this, I will think about this later. Any help appreciated.

Thanks in advance!

[2020-04-17 07:18] SKProCH commented on #34
Yes i get it, thanks

[2020-04-17 07:26] #34 closed

[2020-04-18 05:09] SKProCH opened #35 "Moving player to new node"
**Describe the bug**
After the node falls, the player moves to another node. This is done through the
https://github.com/angelobreuer/Lavalink4NET/blob/0dc3805ad7b415eeae2ba41ee0a2734803ccaf37/src/Lavalink4NET/LavalinkNode.cs#L661-L686
The player is first destroyed, and then the `UpdateAsync` method is called, which does not restore the state of the player from Destroyed
https://github.com/angelob

[2020-04-18 08:29] angelobreuer commented on #35
Hello @SKProCH,
thanks for your report!

I've added your suggested changes in https://github.com/angelobreuer/Lavalink4NET/commit/a7d2cda7caff16a82a0817e12baf265ae175d98b. Does this fix your issue?

You can try out the CI build artifacts: https://ci.appveyor.com/project/angelobreuer/lavalink4net/builds/32268362/artifacts

Thanks in advance!

[2020-04-18 19:07] SKProCH commented on #35
Yes, thanks

[2020-04-18 19:14] #35 closed

[2020-04-19 17:51] SKProCH opened #37 "Nodes personalization"
I think it would be useful to be able to give the node some parameters (e.g. name)

**Describe the solution you'd like**
I think this could be added to `LavalinkNodeOptions`

[2020-04-19 18:26] angelobreuer commented on #37
Hello @SKProCH,
thanks for your suggestion!

I've added a new label configuration option in [`LavalinkNodeOptions`](https://github.com/angelobreuer/Lavalink4NET/blob/angelobreuer-patch-1/src/Lavalink4NET/LavalinkNodeOptions.cs):
https://github.com/angelobreuer/Lavalink4NET/blob/0a83ae0758eb333c29057ef7177f3c1223b7c604/src/Lavalink4NET/LavalinkNodeOptions.cs#L60-L66

The [`LavalinkNode`](https://gi

[2020-04-20 04:16] SKProCH commented on #37
Yes, thanks

[2020-04-20 08:45] #37 closed

[2020-05-04 16:18] LukeHallett opened #39 "An System.AggregateException occurred in VOICE_STATE_UPDATED."
**Describe the bug**
When trying the play a track, I get an exception from 'VOICE_STATE_UPDATED'.

**Expected behavior**
Bot should play Music.

**Screenshots**
![3VgrOSOW](https://user-images.githubusercontent.com/32042040/80988292-33adfd80-8e2b-11ea-99fd-f4c709656f47.png)
![XC3TTjLW](https://user-images.githubusercontent.com/32042040/80988298-36a8ee00-8e2b-11ea-9e7c-d3f79d873338.png)

**(please

[2020-05-04 16:37] angelobreuer commented on #39
Hello @LukeHallett,

you should first join the channel before you can retrieve the player for it.

If you want your bot to create a player for a voice channel, for example, use:
[code]

Thanks in advance!

[2020-05-04 17:02] LukeHallett commented on #39
I still get the same error with your example.

[2020-05-04 17:10] angelobreuer commented on #39
Are you using the latest DSharpPlus version (, if not what version are you using)?

[2020-05-04 17:12] LukeHallett commented on #39
I'm using 4.0.0-nightly-00688.

[2020-05-04 17:25] angelobreuer commented on #39
There was an issue with accessing an internal property using reflection in the VoiceState.
Does the commit f94c959 fix your issue?

[2020-06-04 10:59] SKProCH opened #41 "ArgumentNullException in inactivity tracking service"
**Describe the bug**
Global looped uncaught exception:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Setup inactivity tracking service
2. Use the bot
3. Wait (and when you're lucky)
4. See error

**Expected behavior**
Probably when player = null you need to force remove it from the list or something

**(please complete the following information):**
 - Lavalink4NET Version 1.4.16

[2020-06-04 19:10] angelobreuer commented on #41
Hello @SKProCH,
thanks for your bug report!

Does the commit bbfeede53832b5132dba8b9909c7293f40d0efbd fix your issue?

Thanks in advance!

[2020-06-04 19:42] SKProCH commented on #41
I looked at the code, and yes, it should fix it. But, since the error appears from time to time and does not depend on anything (well, or I could not find because of what) it will be difficult to confirm this.

[2020-06-04 20:12] angelobreuer commented on #41
I've pushed the release now (v.1.4.18, https://www.nuget.org/packages/Lavalink4NET/1.4.18) and we'll see if the issue persists.
Thanks in advance!

[2020-06-05 09:23] #39 closed

[2020-06-07 08:33] SKProCH commented on #41
@angelobreuer everything seems to be fine. Could you make a new release of Lavalink4Net.Discord.Net (seems like pipelines failed)?

[2020-06-07 12:21] #41 closed

[2020-06-10 10:57] SKProCH opened #45 "Preferred node for getting music information"
**Is your feature request related to a problem? Please describe.**
I think that it would be nice to be able for the cluster to select a node to which all requests for receiving information about tracks will go priority.

**Describe the solution you'd like**
Add the property of the preferred node to the cluster, and the developer will independently set the desired node.

**Describe alternatives you

[2020-06-12 15:59] SKProCH commented on #45
Yes, it works. Thanks

[2020-06-13 20:41] #45 closed

[2020-08-16 12:56] Venipa opened #48 "queue does not matter if different user enqueues track (instantly plays other users track)"
**Describe the bug**
queue does not matter if different user enqueues track (instantly plays other users track)

**To Reproduce**
Steps to reproduce the behavior:
1. play track
2. add another track to queue
3. other user: add track to queue
4. other user: track plays without respecting queue

**Expected behavior**
add other users track to queue without instantly playing the track that got added

*

[2020-08-16 17:46] angelobreuer commented on #48
Sorry, but I'm unable to reproduce your issue.

Is the queue empty when the second user adds the track? Is the player in the playing state?
Could you provide a snippet where the issue appears?

I tried to reproduce your issue with the code provided in the snapshot, also I tried to reproduce with `PlayAsync`.

If you want to check whether the track was enqueued or not, you can check for the return

[2020-08-31 04:43] SonOfDagon opened #50 "Connection to Lavalink Nove "ws://localhost:8080" failed!"
I realise that this is most likely a very noob question, but I'm unsure where else to ask this, so I'm sorry for submitting it here. Still, how do I go about solving this?

This is the output of a project I pretty much built using the ExampleBot from the samples directory.

![image](https://user-images.githubusercontent.com/54398437/91683504-17aa3680-eb55-11ea-8c84-f51f0fc34ea8.png)

[2020-09-01 10:13] angelobreuer commented on #50
No need to apologize here.

It seems like your Lavalink server/node is not running or seems to have a different port or address.

The error says that no connection could be made to the node.

Thanks in advance!

[2020-09-02 09:01] SonOfDagon commented on #50
Having absolutely no experience with Java and networking (it's a miracle I've managed to get my bot to be hosted on a remote server in the first place), I somehow COMPLETELY missed the part where I needed to get the Lavalink server up - so I was merrily executing my code without ever having thought about executing Lavalink.jar.

Updating my Java JRE to version 13, downloading the binary release, c

[2020-09-02 09:01] #50 closed

[2020-09-07 08:24] 230Daniel opened #51 "QueuedLavalinkPlayer.State property incorrect after skip"
**Describe the bug**
The State property of QueuedLavalinkPlayer is set to NotPlaying after SkipAsync() is called.

**To Reproduce**
Steps to reproduce the behaviour:

1. Play a track by adding it to the queue using player.Queue.Add(track) and calling PlayTopAsync(track), where track has been dequeued.
![image](https://user-images.githubusercontent.com/49287178/92363843-09769000-f0ea-11ea-9533-2ef5

[2020-09-07 15:22] angelobreuer commented on #51
Hello @230Daniel,
I'm sorry, but I'm unable to reproduce your issue.

Can you show when the LavalinkPlayer sets its player state to `NonPlaying`? and/or the Lavalink logs? (to see if there are any corresponding events dispatched, Note to exclude any personal information, tokens, and passwords from the log)

___

Please note that the `LavalinkPlayer#PlayTopAsync` method appends the track to the **t

[2020-09-07 16:26] 230Daniel commented on #51
Hi there, thank you for your very in-depth response!

I took a look at the commit and believe that it should fix the issue, but when trying to use the new files in that zip file I got some errors which I couldn't find a good solution to on google:

[code]

I collected some more information for you too, here is a log file created by my console app which shows the status of the player every second.

[2020-09-07 18:09] angelobreuer commented on #51
Hello @230Daniel,
thanks for your response!

I've now managed to reproduce the issue! I applied the fix and the problem no longer appeared on my side. It seems like e2a371824414fc3bf174dadbed7c76bbe8110bda resolves the issue.

___

I have built the assemblies with a different package version which results in your error that the assembly's manifest does not match the referenced assembly. I rebuilt

[2020-09-07 18:27] 230Daniel commented on #51
Hi, I still got the errors when using the new files. The error includes "1.4.21.0", so if you built using "1.4.21" then that could perhaps still be the problem?

Anyway, it's great to hear that you managed to reproduce the issue. Will you be creating a release on NuGet with this fix?

Many thanks,
Daniel.

[2020-09-07 18:51] angelobreuer commented on #51
Hey @230Daniel,
thanks again!

I've now rebuilt the packages again using the right Version (I've set the PackageVersion to 1.4.21, not the Version itself).
The version number 1.4.21 is equal to 1.4.21.0.

[Lavalink4NET.dev-build-e2a371824414fc3bf174dadbed7c76bbe8110bda-v3.dbg.1.4.21.zip](https://github.com/angelobreuer/Lavalink4NET/files/5184649/Lavalink4NET.dev-build-e2a371824414fc3bf174dadbed7c7

[2020-09-07 19:35] angelobreuer commented on #51
I have now published the latest build to NuGet in which your issue should be fixed (1.5.0).

https://www.nuget.org/packages/Lavalink4NET/
https://www.nuget.org/packages/Lavalink4NET.Discord.NET/

Please re-open the issue if your problem still persists.

Thanks in advance!
Angelo Breuer

[2020-09-07 20:48] 230Daniel commented on #51
Hi, I hate to bring bad news but the issue is still present after updating to v1.5, seemingly in exactly the same way.

Perhaps the issue is something to do with the way I'm adding tracks to the queue, please could you send the code you used to reproduce the issue so that I could compare it to mine?

The issue also occurred when using the dev files you sent to me (which worked this time :D)

Thank

[2020-09-08 08:12] 230Daniel commented on #51
I was looking through the code and it appears that the fix is not in place in the current version on Github? I don't know if the version on Github is the current version on NuGet or not.

[code]

doesn't match what I saw in the commit you made earlier.

Did you forget to merge the patch-1 branch?
https://github.com/angelobreuer/Lavalink4NET/compare/patch-1

Many thanks,
Daniel

[2020-09-08 16:16] angelobreuer commented on #51
Hello @230Daniel,

thank you for pointing out that I just forgot to merge the patch-1 branch!

___

I've made a repository that shows I've reproduced your issue, see: https://github.com/angelobreuer/Lavalink4NET.I51Repro

If I am using v1.5.0 (without the patch) then the following issue appears:
![image](https://user-images.githubusercontent.com/46497296/92501326-ab879c80-f1fe-11ea-9205-ede5bd56a8

[2020-09-08 17:04] 230Daniel commented on #51
Excellent!

I was concerned that the issue wasn't fixed after the patch, but if you've just forgotten to implement the fix then that explains it all.

I was able to load the files, but the not playing issue remained.

Thank you,
Daniel

[2020-09-08 17:17] angelobreuer commented on #51
The dev files should have fixed the issue (as the patch was included in the dev files but not in 1.5.0):
![image](https://user-images.githubusercontent.com/46497296/92507699-a713b180-f207-11ea-894a-189dc2ef818d.png)

___

Does the reproduction repository (https://github.com/angelobreuer/Lavalink4NET.I51Repro) match your issue? Or is there any step is missed in the reproduction?

___

Thank you!
An

[2020-09-08 17:42] 230Daniel commented on #51
Hm, that's a good point.

While comparing the repository and my own code, I noticed no differences in the way it interacts with the library.

My method for using the dev files was probably incorrect. I pasted them into my bin\Debug\netcoreapp3.1 folder and ran using visual studio. The program ran so I assumed I was using the dev files, but I must not have been because there isn't a difference betw

[2020-09-08 19:28] angelobreuer commented on #51
Hi @230Daniel,

could you please run the following two commands in your project folder and check if the issue still persists:

[code]

Those will download the CI build that includes the patch.

___

Thanks in advance!
Angelo Breuer

[2020-09-08 19:59] 230Daniel commented on #51
That worked!

My project ran fine and the issue is completely fixed.

Thank you for your continued hard work and patience on this :)

[2020-09-08 20:00] angelobreuer commented on #51
Thank you very much for taking the time to solve the issue!

I will then publish a hotfix (1.5.1) this time including the fix itself.

Thank you!
Angelo Breuer

[2020-09-08 22:05] 230Daniel commented on #51
Hi @angelobreuer

I thought I'd let you know that although this fix is perfect for me, it could potentially cause some issues for others.
I noticed that after my player had actually finished playing tracks (either by StopAsync or by reaching the end of the queue) the player state remained at Playing.

Perhaps you should add a check to determine whether or not there are tracks in the player's queue

[2020-09-09 04:16] angelobreuer commented on #51
Hello @230Daniel,
thanks for this information!

I've now added the following to the reproduction:
https://github.com/angelobreuer/Lavalink4NET.I51Repro/blob/master/Program.cs#L101-L106

___

I've made a commit in which the player state is corrected for all methods (e.g. in the SkipAsync) method and added additional statements to null out the `CurrentTrack` property.

You can view the diff here if

[2020-09-09 07:39] 230Daniel commented on #51
Brilliant!

I tested several actions using the dev package and it seems to be working perfectly. Looking at the commit, I can't spot any other functionality issues.

Thank you again, I'm having a great time using your library for my bots and really appreciate your work :)

[2020-09-09 07:39] #51 closed

[2020-09-20 19:38] 230Daniel opened #54 "LavalinkNode.TrackStuck event not dispatched"
Tracks appear to get stuck, but the LavalinkNode.TrackStuck event is not triggered.
I'm not sure if the event should be called or not when I think it should, so I'll describe how my track is getting stuck as well.

**To reproduce:**

1. Connect a QueuedLavalinkPlayer to a channel.

2. Leave it connected for a really long time. During this time, Discord reconnects will occur. I'm not sure if this f

[2020-09-20 19:48] angelobreuer commented on #54
Hello @230Daniel,
thank you for your report!

The LavalinkNode simply redirects the incoming payload to events, as you can see here:
https://github.com/angelobreuer/Lavalink4NET/blob/30ff72bc6c1146f3c7f2f74b1e1b52de8359fd64/src/Lavalink4NET/LavalinkNode.cs#L405-L445

Also, the LavalinkPlayer never dispatches the CleanUp track end reason itself.

I think your issue is related to the Lavalink Server

[2020-09-20 19:51] 230Daniel commented on #54
Oh right, it's definitely not an issue with this library then.

I thought that perhaps Lavalink4NET detected when a track got stuck like this and raised the event accordingly.

Thank you for the help!
Daniel

[2020-09-20 19:51] #54 closed

[2020-10-10 19:09] SKProCH opened #55 "Add interface to LavalinkTrack"
**Is your feature request related to a problem? Please describe.**
I am missing the ability to override the track implementation.

**Describe the solution you'd like**
It would be nice to have `ILavalinkTrack` or something similar. I also wanted to have a generic player implementation like `LavalinkPlayer<T>` `where T : ILavalinkTrack`

[2020-10-10 19:18] angelobreuer commented on #55
Hello @SKProCH,

Can you provide a use case related to your feature request?

You should be able to inherit from the LavalinkTrack class (as it is not sealed) and pass it around the Lavalink methods:

https://github.com/angelobreuer/Lavalink4NET/blob/d9fb4a522169dc91a0642db8046e38a30de026a9/src/Lavalink4NET/Player/LavalinkTrack.cs#L37

Thanks in advance!
Angelo Breuer

[2020-10-10 19:47] SKProCH commented on #55
I would like to create something like a container for other tracks with additional information, this is necessary to implement my ideas. Class inheritance in this case is not enough for me, I need to be able to change the implementation of track properties.

I think that adding `ILavalinkTrack` should not change the code for existing users.

[2020-10-10 20:01] angelobreuer commented on #55
Do you mind if I make the properties of LavalinkTrack virtual, like in https://github.com/angelobreuer/Lavalink4NET/commit/277d7e52dc59afbd0b6fbabca3622ded8669affc#diff-69b736e4f12d2a869ec1f2f6aba46f62?

I can imagine some reasons for that too.

Adding an interface would require a lot more than just using virtual members because all method signatures that refer to the LavalinkTrack class have to b

[2020-10-10 20:15] SKProCH commented on #55
Yes, in principle I can change my approach to be limited to virtual properties. Thanks

[2020-10-10 20:16] angelobreuer commented on #55
Thanks! Should I merge https://github.com/angelobreuer/Lavalink4NET/commit/277d7e52dc59afbd0b6fbabca3622ded8669affc then and push out a minor release?

[2020-10-10 20:21] SKProCH commented on #55
I think yes

[2020-10-10 20:34] #55 closed

[2020-10-23 05:50] SKProCH opened #57 "Player disposes"
**Describe the bug**
Sometimes the player is simply destroyed for no apparent reason.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup lavalink, bot
2. Start listening
3. Wait a certain amount of time
4. Voila

**Expected behavior**
The player should work fine

 - Lavalink4NET Version 1.5.3

C# side player dispose stacktrace:
[code]
Note: `AdvancedLavalinkPlayer.Dispose()` this is an ov

[2020-10-23 20:53] angelobreuer commented on #57
Hello @SKProCH,

Thanks for your issue report!

I was not able to reproduce your issue, I set up a bot and left it running for several hours with changing the voice server multiple times and joining and leaving users to add additional stress. I also tried to close the WebSocket to the voice server forcefully (e.g. kill TCP handle) or to disconnect the bot from the voice channel. But Lavalink(4NET)

[2020-10-24 10:31] SKProCH commented on #57
After a few days of debugging, I noticed that this only happens on certain nodes.
The error looks like this:
[code]
This error did not really apply to Lavalink4Net, I apologize for wasting your time.

[2020-10-24 10:31] #57 closed

[2020-10-24 14:12] SKProCH opened #58 "Track null while moving player to another node"
**Describe the bug**
When we try to change the node for the player, we get an exception, because when the player is destroyed, the current track is nulled.

**To Reproduce**
Steps to reproduce the behavior:
1. Start playing something
2. Switch node
3. See error

 - Lavalink4NET Version 1.5.3
 - Exception thrown:
[code]

**Additional context**
CurrentTrack become null after this: https://github.com

[2020-10-24 14:45] angelobreuer commented on #58
Hello @SKProCH,
Thanks for reporting this issue!

Can you try out if your issue still persists in 53b1b7ea0fc1afc5679aafac24750cd46f7f38e3?
You can copy the following assemblies to your output/build directory to try out:

[Lavalink4NET.zip (1.5.3.0 Release angelobreuer-patch-1@53b1b7e)](https://github.com/angelobreuer/Lavalink4NET/files/5433027/Lavalink4NET.zip)

Many thanks,
Angelo Breuer

[2020-10-24 15:00] SKProCH commented on #58
Yes, all working now. Thanks!

[2020-10-24 15:11] #58 closed

[2020-10-25 07:59] SKProCH opened #60 "Volume resets after node change"
**Describe the bug**
When we change a node, the volume for the node is 1, and the player retains the previous volume (from the old node).

**To Reproduce**
Steps to reproduce the behavior:
1. Start playing
2. Change node
3. See wrong volume level

 - Lavalink4NET Version 1.5.4

In my player implementation i override `OnConnectedAsync` and call `SetVolumeAsync` but it does nothing because player vo

[2020-10-25 10:27] angelobreuer commented on #60
Hello @SKProCH,
Thanks for your issue report.

I think it would be good to send the state to the Lavalink node moved to, so if you move the node, the Lavalink4NET service sends the state (volume, current track, equalizer bands) to the new node. So users do not have to manually work-around this.

I will also add the force parameter as you suggested above to both `LavalinkPlayer#SetVolumeAsync` and

[2020-10-25 10:33] SKProCH commented on #60
Yes, this solves my problem. Many thanks!

[2020-10-25 11:05] #60 closed

[2020-11-02 12:27] Arasfon opened #62 "Disconnect on VoiceState change"
**Description**
When you change bot's VoiceState (e.g. server mute, move bot to another voice channel) it simply disconnects without any error (see additional context), i can't find anything in my code that calls Disconnect, so i think there's something with the library. I tried looking into sources, but i didn't find anything that can help with my issue.

**To Reproduce**
Steps to reproduce the b

[2020-11-02 12:40] angelobreuer commented on #62
Hello @Arasfon,

Can you attach to the PlayerDisconnected event of your Lavalink node? Is there an event triggered if your issue occurs and what is contained in the event arguments (e.g. disconnect reason)?

The bot should _normally_ only disconnect if...
- the bot is forcefully disconnected from the voice channel
- disconnected from an external voice state update (your bot requests to disconnect

[2020-11-02 12:50] Arasfon commented on #62
WebSocketClosed in PlayerDisconnected and Stop on Player (my player is modded to support queue looping, i modified only OnEndTrack event):
![image](https://user-images.githubusercontent.com/29773434/97869819-1ea32000-1d23-11eb-848b-816dc26bb134.png)

[2020-11-02 13:30] Arasfon commented on #62
I've cloned library and referenced it directly, after debugging i've found out that bot disconnects after line 587 in LavalinkPlayer.cs (https://github.com/angelobreuer/Lavalink4NET/blob/10d50a3b49bff0ff9ccf5c6f2d025dd2f30d5062/src/Lavalink4NET/Player/LavalinkPlayer.cs#L587) i'll try to investigate further as far as i can do it.

[2020-11-02 16:42] angelobreuer commented on #62
Hello @Arasfon,

I have tried to reproduce your issue but with no luck:
https://github.com/angelobreuer/Lavalink4NET.I62Repro

I tried to move the bot around voice channel and muted/unmuted the bot several times, but the bot did not disconnect.

That's interesting, does your Lavalink server output any useful log output? Does the voice state contain a voice channel set to `0` or `null`?

Thanks in

[2020-11-02 17:25] Arasfon commented on #62
I cloned your repro repo, filled in token, etc, but when i tried to mute my recently created bot it disconnected. At first, i thought intents are the cause of such strange behavior (because they were disabled), but no, i enabled them and issue still persists. So there is something with my lavalink server, or my pc and i can't imagine what can be wrong.
In debug, voice state contains valid channel'

[2020-11-02 19:06] angelobreuer commented on #62
@Arasfon

Thanks for attaching your logs, they helped a lot.

[code]

My guess on that is that there is something like a "race condition" that does the following two things at the same time:
- connect to the voice server (due to the voice state update)
- close the connection to the voice server (due to the incoming WebSocket close event)
- player is destroyed (invoked from the WebSocket close even

[2020-11-02 19:48] Arasfon commented on #62
Thanks you very much, @angelobreuer ! Issue with muting bot is resolved, however, when i move bot through some channel issue still persists. I will change versions to yours and try again.
And there's something new - when voiceState equals null, i suppose, (e.g. user leaves channel) DiscordClientWrapper throws an exception:
![image](https://user-images.githubusercontent.com/29773434/97910324-a3f5f7

[2020-11-02 20:17] angelobreuer commented on #62
Good news! I can reproduce the issue since I updated to the last Lavalink version. This also explains this strange behaviour occurs. In the changelog comparing our both versions, Magma was replaced by Koe: https://github.com/Frederikam/Lavalink/compare/3.3.1.4...master.

I think that there is maybe a bug in Lavalink/Koe because if the connection is already established to the voice channel, and the

[2020-11-02 20:48] angelobreuer commented on #62
I've now found the issue; the new behaviour is that Lavalink4NET ignores WebSocket closes as Lavalink handles them by itself. The problem came up because Magma was more tolerant for voice state updates than Koe. Koe is not able to switch voice channels correctly without having the problem that the speaking indicator does not show up. So now Lavalink directly redirects the voice states to Lavalink.

[2020-11-02 20:57] Arasfon commented on #62
I was writing about 3.3.1.4 not working because of fixes implemented in later versions, but did not have time to complete it, as you sent new patch.
All is working correctly now! Thank you very much!

[2020-11-02 21:00] angelobreuer commented on #62
Perfect! Thank you for your time. I will deploy a patch then (v1.6).

[2020-11-02 21:05] #62 closed

[2020-11-19 08:09] mon1t0r opened #65 "Can not install Lavalink4NET.MemoryCache to .NET Framework 4.7.2 project."
Hi, I decided to use your library for making music functions for my discord bot, but when I tried to add Lavalink4NET.MemoryCache package from NuGet to my .NET Framework 4..7.2 project it gives me an error like "package is not supported on this platform". I created new .NET Core App project and it worked with it, but I need my project on .NET Framework. Could you please help me, thanks.

[2020-11-19 14:56] angelobreuer commented on #65
Hello @mon1t0r,

It seems there are some problems with System.Runtime.Caching and .NET Framework.
For example, you could try out the workaround as described in this comment: https://github.com/Azure/azure-functions-host/issues/4581#issuecomment-510630802

Or you can implement your own caching using the https://github.com/angelobreuer/Lavalink4NET/blob/master/src/Lavalink4NET/ILavalinkCache.cs inte

[2020-11-21 12:51] SKProCH opened #66 "Wrong bands comparing in UpdateEqualizerAsync"
**Describe the bug**
UpdateEqualizerAsync is not working properly.
If i have old: (Band - 0, Gain - 0) and new: (Band - 0, Gain - 1), method does nothing, although he should.

**(please complete the following information):**
 - Lavalink4NET 1.6.1

[2020-11-21 13:15] angelobreuer commented on #66
Hello @SKProCH,
Thank you for your issue report.

Could you try to set the `force` parameter to `true` and tell me if you can set a new equalizer?

[2020-11-21 13:40] SKProCH commented on #66
Yes i can set a new equalizer when `force` = `true`

[2020-11-22 21:20] angelobreuer commented on #66
Hello @SKProCH,
I've prepared a fix in https://github.com/angelobreuer/Lavalink4NET/commit/ca06f7233e6f02371bb56661002e589f56b1cf54.
Would the above-linked commit resolve your issue?

[2020-11-23 06:38] SKProCH commented on #66
I think yes. Unfortunately, I can't check it now, but I reviewed the changes, I think everything will work.

[2020-11-23 17:16] #66 closed

[2020-11-23 17:17] angelobreuer commented on #65
Closing due inactivity, please feel free to reopen the issue, if you have any questions (or anything else).

[2020-11-23 17:17] #65 closed

[2021-01-31 16:11] TheRedLord69 opened #68 "Bot will disconnect from the voice channel even after setting DisconnectOnStop to false"
**Describe the bug**
When I stop the player with `await player.StopAsync(false);`  its supposed set the DisconnectOnStop to be false but when browsing through the break point I noticed that after this line, DisconnectOnStop is being true.

**Expected behavior**
When I do `StopAsync(false);` the DisconnectOnStop bool supposed to be false

Lavalink4NET version - 1.6.2
![image](https://user-images.gi

[2021-01-31 23:59] angelobreuer commented on #68
Could you try out setting `DisconnectOnStop` in your node configuration to `false`?

https://github.com/angelobreuer/Lavalink4NET/blob/69bddd6580f51b945ed4cbf8a11e61b2b8448e54/src/Lavalink4NET/LavalinkNodeOptions.cs#L50-L58

e.g.,

[code]

[2021-02-01 09:48] TheRedLord69 commented on #68
Thank you very much ! you helped me a lot.
I was already lost and didnt knew what to do, searched every solution and tried anything I could think of :)
your solution worked !

[2021-02-01 09:48] #68 closed

[2021-03-11 23:36] Dmitriy-ksm opened #69 "GetTracksAsync query issue"
When you set a GetTrack query with several parameters, lavalink receives an invalid GET request.

1. Create a new LavalinkNode;
2. Call the GetTracksAsync function for LavalinkNode with the following query https://www.youtube.com/watch?v=videoId&list=listId (for example: https://www.youtube.com/watch?v=7CMyNJXaJmU&list=RD7CMyNJXaJmU&start_radio=1&t=0);
3. This will create the following request /lo

[2021-03-12 07:48] angelobreuer commented on #69
Thanks, @Dmitriy-ksm, for your issue report!
I could reproduce the issue and was able to fix it, as you suggested, by encoding the URI component.
This issue will be resolved in the next patch version.

[2021-03-12 07:49] #69 closed

[2021-03-29 02:18] J-a-d-i opened #70 "This seems to require .NET 2.0 so I can't use it on my project, is it supposed to be for .NET 2.0?"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**(please complete the following infor

[2021-03-29 02:20] #70 closed

[2021-03-29 02:20] J-a-d-i commented on #70
Nevermind, tried again and it no longer says that, my bad

[2021-04-26 08:50] Whatareyoulaughingat opened #72 "An additional client wrapper for DSharpPlus' DiscordShardedClient."
I noticed i couldn't use DiscordClientWrapper together with DSharpPlus' DiscordShardedClient, so i tried to make my own wrapper using IDiscordClientWrapper but i ran into problems along the way. In the end, i couldn't make it work and for now i am stuck with using DSharpPlus' DiscordClient.

It would be a good idea to include a sharded client wrapper (For example: DiscordShardedClientWrapper) beca

[2021-04-26 20:38] angelobreuer commented on #72
Hello @Whatareyoulaughingat,
thank you for your issue request!

As far as I know, there was some time where the class did support sharded and non-sharded clients, but I think due to external changes this was probably dropped. I've made some changes to the `DiscordClientWrapper` class for DSharpPlus to support purely sharded clients.

Could you try out if the following works for you? You can just c

[2021-04-27 13:00] Whatareyoulaughingat commented on #72
I tested it and it works pretty good. I made some changes such as adding GC.SuppressFinalize inside the Dispose method. Also, i made my own VoiceStateUpdatePayload class (which contains the same code as yours) because yours is sealed and internal and i couldn't access and lastly, i made the code a bit easier to read.

Will this wrapper be implemented in this library any time soon?

[2021-04-27 21:02] angelobreuer commented on #72
Hello @Whatareyoulaughingat,

That's nice to hear! Thanks for trying out.

I did not add it in the past, as the class does not have the need for a class finalizer, and it was made `sealed` to avoid inheritors that could implement a `Dispose` method.
In the commit above, I added the `GC.SuppressFinalize()` call in the dispose logic of the DiscordClientWrapper implementations for DSharpPlus and unse

[2021-04-27 21:27] Whatareyoulaughingat commented on #72
I took a look at those changes and everything looked great. Since you implemented the sharded client wrapper, there is no need to make the VoiceStateUpdatePayload class public because there's no need to make my own client wrapper now.

One thing left is updating the nuget package i guess.

[2021-04-27 21:29] angelobreuer commented on #72
Great! Thank you, I will push a release in a few minutes.

[2021-04-27 21:29] #72 closed

[2021-04-27 21:58] Whatareyoulaughingat opened #74 "Unable to resolve service for IDiscordClientWrapper while attempting to activate LavalinkCluster."
An exception is thrown when attempting to activate the LavalinkCluster class using dependency injection.

How to reproduce:
1. Install the latest version (Currently it's 1.7.0).
2. Replace IDiscordClientWrapper with DiscordClientWrapperBase in a .AddSingletion().
3. Use LavalinkCluster in another .AddSingletion().
4. Run the application.

I expected everything would go smoothly but it seems that t

[2021-04-27 22:14] angelobreuer commented on #74
Is there a reason why you use `DiscordClientWrapperBase` over `IDiscordClientWrapper`, it should work as expected when you use the interface. In DI it is more common to use interfaces instead of abstract types.

Adding the `DiscordClientWrapperBase` as an overload to the cluster constructors would need to add `Lavalink4NET.DSharpPlus` as a dependency of `Lavalink4NET` which would exactly do the op

[2021-04-27 22:20] Whatareyoulaughingat commented on #74
Correct me if i am doing something wrong, but this what happens when i use IDiscordClientWrapper.

![Capture1](https://user-images.githubusercontent.com/66755323/116319754-bf990200-a7bf-11eb-97f3-88bb61d0c7db.PNG)
![Capture](https://user-images.githubusercontent.com/66755323/116319755-c0319880-a7bf-11eb-8646-140ff59abc98.PNG)

[2021-04-27 22:23] angelobreuer commented on #74
Oh, I see. I think I missed the interface implementation on the base class. Give me some time to deploy a fix

[2021-04-27 22:34] angelobreuer commented on #74
Could you try out Lavalink4NET 1.7.1? I think it should work now, I added the interface in https://github.com/angelobreuer/Lavalink4NET/commit/b28124d84d0deedf4d1028e7980c383db2f03d1d .

[2021-04-27 22:41] Whatareyoulaughingat commented on #74
Same problem again with the same exception. By the way, i still have the client wrapper from the previous bug report and it still works great. It inherits only from IDiscordClientWrapper, so i don't think there will be any problems.

[2021-04-27 22:48] #74 closed

[2021-05-02 23:18] Silverdimond opened #75 "DSharpPlus 5.0.0-nightly-00840 no longer exists"
According to the DSharpPlus discord server `- 5.0.0-nightly builds were pulled from SlimGet.`
[![image](https://user-images.githubusercontent.com/46320280/116830879-a4a60380-abac-11eb-8bd4-311d321bd6f1.png)](https://canary.discord.com/channels/379378609942560770/379386730538860554/837352800370556970)
That means [Line 20 in Lavalink4NET/src/Lavalink4NET.DSharpPlus/Lavalink4NET.DSharpPlus.csproj](ht

[2021-05-03 13:54] angelobreuer commented on #75
Thank you @Silverdimond for the information!
I have pushed a new release (1.7.2) that uses the latest available nightly version.

[2021-05-03 13:54] #75 closed

[2021-07-17 07:57] SKProCH opened #76 "Implement Lavalink v3.4 features"
**Is your feature request related to a problem? Please describe.**
In a new Lavalink update several features and changes [were introduced](https://github.com/freyacodes/Lavalink/blob/dev/IMPLEMENTATION.md#significant-changes-v33---v34):
- Added filters
- The error string on the TrackExceptionEvent has been deprecated and replaced by the exception object following the same structure as the LOAD_FAI

[2021-07-17 10:44] angelobreuer commented on #76
Hello @SKProCH,

thank you for your issue! I have implemented the changes for Lavalink v3.4. Lavalink4NET now supports filters, the `connected` property (but it is not used as Lavalink4NET had its own logic for connection tracking) and the exception event in the `/loadtracks` response. Note that the latest version of Lavalink4NET will only work with a preview version of a Lavalink server (https://

[2021-07-17 11:09] angelobreuer commented on #76
Released [2.0.0-preview.1](https://www.nuget.org/packages/Lavalink4NET/2.0.0-preview.1)

[2021-07-17 11:50] SKProCH commented on #76
Ok, I'll test it. Thanks

[2021-07-17 11:51] #76 closed

[2021-07-20 15:20] SKProCH opened #78 "Equalizer effect wrong name"
As I can see there is an error in the spelling of Name, which, as far as I can tell, makes it impossible to use the equalizer. (unfortunately I can't check for sure now)
https://github.com/angelobreuer/Lavalink4NET/blob/99ad00554c3c1f2cfb8a964c9fbd33944bdc2fae/src/Lavalink4NET/Filters/EqualizerFilterOptions.cs#L37

[2021-07-20 16:16] angelobreuer commented on #78
Thank you! Should be fixed by #79 now (So that's the reason that I did not hear a difference while testing).

[2021-07-20 16:16] #78 closed, assigned to angelobreuer

[2021-09-14 11:45] Silverdimond opened #80 "IEnumerable`1<DiscordMember> DiscordChannel.get_Users() returns a method not found bricking Lavalink4nets voting features"
**Describe the bug**
While executing `VoteLavalinkPlayer.VoteAsync(UInt64 userId, Single percentage)` it tries to run a method that can not be found in the latest dsharpplus version (`4.2.0-nightly-00987` and some other newer ones)

**To Reproduce**
Steps to reproduce the behavior:
1. Make sure to use a new nightly version of DSharpPlus
2. Make a VoteLavalinkPlayer
3. Execute VoteAsync on it
4. Se

[2021-09-14 13:17] #80 closed

[2021-09-14 13:19] angelobreuer commented on #80
Hello @Silverdimond,

thank you for your report!

It seems like that the commit https://github.com/DSharpPlus/DSharpPlus/commit/ec4d160b1fd84a12ceccc492a7aa27e3a5aa7c4b introduced a breaking ABI change and made Lavalink4NET incompatible with the new ABI.

I've bumped dependencies to recompile against the new API interface and push a release on NuGet.

Thanks, Angelo.

[2021-09-18 17:42] SKProCH opened #81 "Speed effect doesn't affect TrackPosition"
**Describe the bug**
When the effect that changes the playback speed is on, the `TrackPosition` changes at the normal speed.

**To Reproduce**
Steps to reproduce the behavior:
1. Apply Timescale effect with changed `speed`

**Expected behavior**
`TrackPosition` must be actual track position.

[2021-09-19 15:40] angelobreuer commented on #81
Hello @SKProCH,

I've recently pushed a prerelease version of Lavalink4NET (2.0.1-preview.3). You may see there a new property on the LavalinkPlayer class called `Position`, which also offers more access to the underlying data for the track position and synchronisation time. The old member `TrackPosition` will now include the speed of the track when using the timescale filter. Now it is marked obs

[2021-09-20 12:37] SKProCH commented on #81
Hello, @angelobreuer

Seems like this is not working properly.
Here is [video](https://youtu.be/zfWxQ5T47v8). As you can see at the end of video, track length is 2:35 and position is 0:55.
I looked at the code and I cannot say what the problem is, but the time is calculated incorrectly.
As for the player control panel, the time is displayed in it correctly, only, perhaps, with a delay of ~ 0.5 sec

[2021-09-20 21:24] angelobreuer commented on #81
I see. I think I have found the mistake in Lavalink4NET why the track position is not properly calculated.

The Lavalink server sends about every five seconds a player update (in the following sometimes called 'synchronization') which contains a timestamp where the payload was generated, and the relative offset of the track position. The track position sent by the Lavalink server simply represents

[2021-10-04 09:56] MrCakeSlayer opened #82 "[Question] Custom tracks?"
**Is your feature request related to a problem? Please describe.**
Hello, I recently swapped over to lavalink4net from Victoria due to scaling issues and have had zero issues so far. However, I was trying to look into doing a custom track to tack on additional info for the tracks however I don't see an easy way to do this nor do I see anything in the documentation for this. I was able to quickly a

[2021-10-04 19:28] angelobreuer commented on #82
Hello @MrCakeSlayer,

this would be very a great thing to have in Lavalink4NET. Thank you!

I have therefore three solutions that would come to my mind for implementing the abovementioned:

Additional property on the `LavalinkTrack` class:
[code]
(additional names considered: "Data", "AdditionalInformation")

Advantages: Very lightweight, no breaking changes.
Disadvantage: Additional allocation pe

[2021-10-05 08:54] MrCakeSlayer commented on #82
Yes, this change would be sufficient for my needs and the fact that it doesn't introduce breaking changes is an added bonus. Appreciate the quick response! :)

[2021-10-05 11:43] #82 closed

[2021-10-11 17:11] Simnico99 opened #84 "LavalinkNode exit with an error when using in a hosted console app."
**Describe the bug**
The application exit with an error when running in a hosted environment

**To Reproduce**
Steps to reproduce the behavior:
1. Create a hosted discord bot
2. Shutdown the bot while it's playing a song

**Expected behavior**
Closing the app without a crash

**(please complete the following information):**
 - Lavalink4NET 2.0.1-preview.3.1
 - Exception thrown:
![image](https://us

[2021-10-12 11:01] #84 closed, assigned to angelobreuer

[2022-01-15 20:58] Simnico99 opened #86 "TrackException doesn't fire at all."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Make a bot
2. Try to play this song: https://www.youtube.com/watch?v=ptzzU7jFQwo
3. IAudioService sometimes fire under TrackEnd and doesn't fire TrackException.

**Expected behavior**
IAudioService  should fire a TrackException.

**Screenshots**
![image](https://user-image

[2022-01-15 21:01] angelobreuer commented on #86
Hello @Simnico99, thank you for your report!

That seems awkward, did you subscribe to any of the player events? Or do you await on these? (This may cause to only dispatch the first event, and not receiving any of the following, because the node I/O is blocked).

[2022-01-15 21:16] Simnico99 commented on #86
I am running everything async

this is surrounded by TaskAsync.Run wich is a non block Task that run in a seperated thread an return a Task.Completed on start so it doesn't block the Thread, It works for play and stop and TrackEnd.
(From my own Asyncronizer.Task nuget package.)

[code]

I do subscribe to the player events here is the content of the file:

[code]

[2022-01-15 21:18] Simnico99 commented on #86
P.S
ZirconPlayer is just a modified QueuedLavalinkPlayer:
[code]

[2022-01-15 21:48] angelobreuer commented on #86
@Simnico99

Thank you for providing your repository, it really helped much to find the bug. I was able to reproduce the bug. If the specific track ( https://www.youtube.com/watch?v=ptzzU7jFQwo) is played, it causes a track exception on the node.  The node sends it to the lavalink client (the bot). A few months ago, there was a change in the track exception payload, as far as I remember, and the ne

[2022-01-15 22:09] #86 closed

[2022-01-15 22:10] Simnico99 commented on #86
Wow, Thank you for fixing the issue fast. :) !

[2022-01-28 12:44] Aaalexer opened #88 "Discord.NET NullReferenceException"
**Bug description**
NullReferenceException while using first constructor (which accepts DiscordShardedClient only) of type DiscordClientWrapper (library - Discord.NET), line 94 in file "DiscordClientWrapper.cs". Constructor is placed in this file on line 52.

**Reproduce**
[code]

[2022-01-28 13:18] angelobreuer commented on #88
Hello @Aaalexer,

thank you for your issue! The discord client wrapper tries to retrieve information about the sharding options (e.g., how many shards are used, which shards are served by the __current__ instance, ...). This information is suddenly only available after the client connected to the gateway.

In most use cases, Lavalink4NET is used in combination of dependency injection, where depend

[2022-01-29 09:28] #88 closed

[2022-02-21 09:11] Swyreee opened #91 "QueuedLavalinkPlayer refuses to play after using GetTracksAsync()"
**Describe the bug**
The title says it all.

**To Reproduce**
(using DSharpPlus 4.2.0-nightly-1079 with DSharpPlus.SlashCommand)
- `_client.Lavalink` is the DI'ed Lavalink client
[code]

**Expected behavior**
The queued player should play from begin to end of the queue normally.

**Screenshots**
- No `play` opcode is sent after calling PlayAsync()
![image](https://user-images.githubusercontent.com

[2022-02-21 10:43] angelobreuer commented on #91
Hello @Swyreee ,

thank you for your issue!

This seems strange, I think you are using the `GetTrackAsync` method (without the `s`) in a play Method. Does this work, or is there the same problem as when using `GetTracksAsync`? The `GetTrackAsync` method uses `GetTracksAsync` under the hood.

Could you try to use the following snippet, and see if it works?

[code]

Is there any exception that is th

[2022-02-21 11:26] Swyreee commented on #91
Hi @angelobreuer, thank you for reaching me.

With your provided code snippet, the player works as expected.

Also I tried `GetTrackAsync` with the following code snippet, the player worked fine:
[code]

Additionally, when I use this workflow, the playlist addition works as expected:
- Create a queued player
- Add single song to queue
- Play the queue
- Add a playlist to queue
- Leave it there, it

[2022-02-21 11:31] angelobreuer commented on #91
I think I've found the problem. When you add for example 100 tracks to the queue, then dequeue the top track, add try to play it, nothing happens. This is because when you dequeue the track, the track is removed from the top of the queue, and at the moment you want to play it, it is added to the bottom of the queue. This is because the player thinks, it should not play anything, because you only w

[2022-02-21 11:38] Swyreee commented on #91
Tried the changes you mentioned and it worked fine now, I guess I should close this issue now, thank a lot.

Feel free to reopen the issue as you wish!

Have a good day.

[2022-02-21 11:38] #91 closed

[2022-06-26 10:16] SKProCH opened #93 "Support for lavalink plugins"
**Is your feature request related to a problem? Please describe.**
It would be nice to be able to support third-party plugins for lavalink. For example - https://github.com/Topis-Lavalink-Plugins/Sponsorblock-Plugin

**Describe the solution you'd like**
Since plugins add their own events to transfer, it would be nice to be able to process all the events, extracting the necessary data from them. It

[2022-06-26 10:17] angelobreuer commented on #93
Thank you! I did not know that Lavalink supports plugins. I will work on it

[2022-06-27 10:29] angelobreuer commented on #93
There are at the current time of writing five plugins listed in the PLUGINS.md of Lavalink:

- Google Cloud TTS

I also implemented this plugin, but Google Cloud TTS is a paid service and I do not have existing access to the Google Cloud APIs, so it is hard to test.

- SponsorBlock

Implemented, see above.

- Topis Source Manager

This plugin does not need client support.

- DuncteBot plugin

This

[2022-06-27 10:29] angelobreuer commented on #93
3.0.0-preview.1 includes alpha support for the SponsorBlock extension using the `Lavalink4NET.Integrations.SponsorBlock` NuGet package.

To initialize the integration, call the `UseSponsorBlock` method on the audio service:

![image](https://user-images.githubusercontent.com/46497296/175920342-3755105f-0adf-4cd6-95fa-e2de7b8df3ab.png)

You can configure the default categories to skip like:

![imag

[2022-06-27 10:30] angelobreuer commented on #93
Linking commits

Integration API added: https://github.com/angelobreuer/Lavalink4NET/commit/eef740604712232155e4808bbfa20eb5424ec1c2
SponsorBlock API added: https://github.com/angelobreuer/Lavalink4NET/commit/35d0f65e903c2428e695ef8ae6da8048a9b97ac8

[2022-06-27 10:37] angelobreuer commented on #81
Closing as stale until there is a response in the dependent issues

[2022-06-27 10:37] #81 closed

[2022-06-28 09:45] angelobreuer commented on #93
@mrcakeslayer was kind enough to provide Google Cloud credentials to test the Google Cloud TTS integration, so now there is also support for text-to-speech:

![image](https://user-images.githubusercontent.com/46497296/176148169-0f75a829-c5d2-444b-94b2-9b6700f255b9.png)

![image](https://user-images.githubusercontent.com/46497296/176148070-ecf53863-d54a-45a3-b639-23f535bd62ae.png)

Linking commits:

[2022-06-30 20:18] SKProCH commented on #93
Everything seems to be working fine.
I can't check it in the release version of my bot yet (cuz i use my own fork with my changes), but it seems to work in the test app.
I want to thank you very much for the support and development of this beautiful library.

[2022-06-30 20:19] #93 closed, assigned to angelobreuer

[2022-06-30 20:32] SKProCH opened #94 "Allow extending LavalinkClusterNode"
*After recent changes, it became difficult to update my fork library (because a big difference between the codebase has accumulated) and I want to port some of my changes to upstream, which would give up using the fork.*

**Is your feature request related to a problem? Please describe.**
In my bot i need to perform a custom actions when bot is kicked from the channel. Yes, it can be done in the gl

[2022-06-30 20:40] SKProCH opened #95 "Allow retrieving info about player' cluster"
*After recent changes, it became difficult to update my fork library (because a big difference between the codebase has accumulated) and I want to port some of my changes to upstream, which would give up using the fork.*

**Is your feature request related to a problem? Please describe.**
In my bot i need to display info about current node in player UI.

**Describe the solution you'd like**
- Make

[2022-06-30 20:41] SKProCH commented on #95
Also, if you want, i can make it as a Pull Request

[2022-06-30 20:59] angelobreuer commented on #95
Thank you! I looked at the implementation at it looks good.

I have a only one thing to note:
- Please use file-scoped namespaces in SocketChangedEventArgs.cs

If you want you can make a pull request

[2022-06-30 20:59] SKProCH opened #96 "Allow to store additional info along with track"
*After recent changes, it became difficult to update my fork library (because a big difference between the codebase has accumulated) and I want to port some of my changes to upstream, which would give up using the fork.*

**Is your feature request related to a problem? Please describe.**
I need to store additional info along with track. Also this info can has different type, etc.
For example is th

[2022-06-30 21:00] SKProCH commented on #95
Oh, thanks. I think I can create a PR during this week (hopefully tomorrow or the day after tomorrow)

[2022-06-30 21:01] angelobreuer commented on #96
A while ago there was a similar request, I think the LavalinkTrack exposes a `Context` property for this issue

[2022-06-30 21:02] SKProCH commented on #96
Hmm, yes, quite possibly, I must have missed it. Thank you.

[2022-06-30 21:02] #96 closed, assigned to nobody

[2022-06-30 21:39] SKProCH opened #97 "Allow to create user defined LavalinkTrack"
*After recent changes, it became difficult to update my fork library (because a big difference between the codebase has accumulated) and I want to port some of my changes to upstream, which would give up using the fork.*

**Is your feature request related to a problem? Please describe.**
In my bot i have a custom resolvers for non usual sources (like a spotify or Yandex Music). This sources cant b

[2022-06-30 21:42] angelobreuer commented on #97
I like the first solution. You can make a pull request if you want. I would propose the API as the following:

[code]

99% of the requests to this method would be the default call which is called synchronously, so there is no need for using a task.

[2022-07-02 17:52] #95 closed, assigned to SKProCH

[2022-07-04 13:28] angelobreuer commented on #97
Closed by #99

[2022-07-04 13:28] #97 closed, assigned to nobody

[2022-07-05 20:23] angelobreuer commented on #94
Closed by https://github.com/angelobreuer/Lavalink4NET/pull/100

[2022-07-05 20:23] #94 closed, assigned to SKProCH

[2022-07-07 23:53] SKProCH opened #104 "TrackEncoder.Encode broken"
**Describe the bug**
When i try to encode track and pass it to lavalink, lavalink send exception trying to parse them.

**To Reproduce**
Steps to reproduce the behavior:
1. Create LavalinkTrackInfo with Source - url
2. Create LavalinkTrack from it
3. Try to play

**Expected behavior**
Track should play in lavalink.

 - Lavalink4NET Version
3.0.0-preview.6

**Additional context**
Lavalink logs:
[co

[2022-07-08 09:54] angelobreuer commented on #104
Could you try 3.0.0-preview.7?

It seems like that Lavalink, or more specifically lavaplayer has added more properties to the track identifier string in the meantime including the starting position of the track and the name of the source. The referenced commit includes changes to support track encoding and decoding of these tracks and adds the missing properties to the track and the track info typ

[2022-07-08 10:29] SKProCH commented on #104
@angelobreuer seems like this is not working.
Here is my handmade track:
[code]

Here is lavalink resolved by url:
[code]

Here is lavalink error while trying to decode my track:
[code]

[2022-07-08 21:27] angelobreuer commented on #104
It seems that the audio player manager from lavaplayer for yandex music adds additional information which is specific to a certain lavaplayer fork (and maybe others).

For testing I had to use a different track than the mentioned above, because it gave me a 404 page:

If you convert the resolved track data from base64 to binary to UTF-8, then you can see that there is a thumbnail image encoded in

[2022-07-08 23:51] SKProCH commented on #104
Hhmm, big thanks for investigating the problem, but i use original lavalink:
[code]

In my calculations above, two results were given. First - I was getting track information using Yandex Music API on my side, and constructing the track myself, sending it and getting an error when parsing it on the lavalink side. The second one - I used direct url to track (which was returned by YM API) and sent i

[2022-07-09 09:03] angelobreuer commented on #104
So, back to the beginning. I think I confused the bump history of lavaplayer in Lavalink. Lavaplayer was not updated for a few years and the fork that is integrated into Lavalink has changed often. The current fork is the one from [Walkyst](https://github.com/freyacodes/Lavalink/commits?author=Walkyst). Which the Lavalink fork mentioned above uses a lavaplayer version which is based on the lavapla

[2022-07-09 09:44] SKProCH commented on #104
Yes, that works like a charm. Thank you so much!

[2022-07-09 09:56] #104 closed, assigned to angelobreuer

[2022-09-12 01:38] drac-dot-gay opened #107 "ArtworkProvider doesn't work properly for SoundCloud tracks"
**Describe the bug**
When attempting to resolve the artwork uri for a track off of soundcloud, ArtworkService currently throws a 404 exception.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup artwork service
2. Feed it a track from soundcloud
3. Observe a 404 not found exception thrown

**Expected behavior**
The track artwork properly resolving

**Screenshots**
N/A

**(please complete

[2022-09-12 05:53] angelobreuer commented on #107
Thank you! I would be happy if you would create a PR

[2022-09-12 13:49] #107 closed, assigned to nobody

[2022-11-26 21:41] TheKrush opened #110 "Allow looping of the queue."
**Describe the solution you'd like**
SkipAsync can be modified in such a way to loop the queue instead of just a single track, I've done this by overriding SkipAsync in my own player.

**Describe alternatives you've considered**
I made my own player and overrode the SkipAsync functionality. But I can see where other people would also like to be able to loop the queue.

[2022-11-26 22:00] TheKrush commented on #110
Here's my crude first pass of this and it seems to work for all cases I can think of.

[code]

[2022-11-27 01:03] TheKrush opened #111 "Lavalink4NET.DiscordNet.GetChannelUsersAsync doesn't work"
**Describe the bug**
This method always returns the total number of users on the server, not just the voice channel.
![image](https://user-images.githubusercontent.com/671500/204114590-295c7a7f-6ed7-4c61-bde4-6075106b8038.png)
In this example, I was alone in the channel with the bot. So the count should have been 1.

**To Reproduce**
Steps to reproduce the behavior:
1. Join a voice channel.
2. Mak

[2022-11-27 01:41] TheKrush commented on #111
If the tracker becomes like this it seems to work:
[code]

_client is just my DiscordSocketClient (since the client passed in is just a wrapper and doesn't have access to the GetChannelUsers method)

[2022-11-27 05:15] MrCakeSlayer commented on #111
Yeah, this broke due to a change in Discord.Net (v3.7.0 iirc) which changed how certain properties counted users for voice channels (Those that are connected and those which can view the channel). Apparently just didn't get updated in Lavalink4NET yet. Using the `ConnectedUsers` property is the correct way to count users who are currently in voice channels now instead of the base `Users` property.

[2022-11-27 06:43] angelobreuer commented on #111
This was already fixed by https://github.com/angelobreuer/Lavalink4NET/pull/109, but we can expand it to ignore bot accounts

[2022-11-27 06:47] angelobreuer commented on #110
Sounds good! Would you like to file a PR?

I think it would be good to create a new property on the LavalinkPlayer, to support both modes.

[code]

[code]

[2022-11-27 08:52] TheKrush commented on #111
Oh that must not be released through NuGet yet.

[2022-11-27 08:53] TheKrush commented on #110
Yeah I can do that let me sync the repo, I've been working off NuGet.

[2022-11-27 08:56] angelobreuer commented on #111
![image](https://user-images.githubusercontent.com/46497296/204126875-d0c74ddc-29b1-4c88-b940-fcfd23128d1d.png)

I decompiled the preview 13 package and it seems to be included. But this feature is not in the release channel of Lavalink4NET.

I will file a PR for adding the bot check

[2022-11-27 09:00] #111 closed, assigned to nobody

[2022-11-27 09:00] angelobreuer commented on #111
Package will be published together with https://github.com/angelobreuer/Lavalink4NET/issues/110 when ready